@import "src/app/styles/variables/global";

.Sidebar {
  position: relative;
  height: calc(100vh - $navbar-height);
  width: $sidebar-width;
  background-color: var(--inverted-bg-color);
  transition: width 0.5s;
}

.collapsed {
  width: $sidebar-width-collapse;
}

.switchers {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
}
