.app.dark {
  --bg-color: #0e0e75;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #288d00;
  --secondary-color: #3cc900;
  --inverted-primary-color: #00178d;
  --inverted-secondary-color: #0046c9;
}
