.app.light {
  --bg-color: #9797e8;
  --inverted-bg-color: #090949;

  --primary-color: #00178d;
  --secondary-color: #0046c9;
  --inverted-primary-color: #288d00;
  --inverted-secondary-color: #3cc900;
}